body {
    width: 768px;
    left: calc(50% - 768px/2 - 0.17px);
    top: 0.45px;
    background-color: #5b4a2f;
    font-family: Helvetica;
    color: aliceblue;
}

a {
    text-decoration: none;
    color: aliceblue;
}

ul {
    list-style-type: none;
}

li {
    list-style: none;
}

.continer {
    position: absolute;
    width: 533.91px;
    left: calc(50% - 533.91px/2 - 0.22px);
    top: 107.45px;
}

header {
    background-color: #eadbb9;
    height: 50px;
    border-radius: 10px;
}

header p {
    display: block;
    text-align: center;
    padding: 15px;
    color: black;
}

.continer h4 {
    text-decoration: underline;
}

.profile {
    margin-top: 10px;
}

.profile p {
    margin-bottom: 25px;
}

.profilePic {
    box-sizing: border-box;
    position: absolute;
    width: 90px;
    height: 90px;
    top: 85px;
    left: 400px;
    border: 2px solid rgba(234, 219, 185, 1);
    border-radius: 100px;
}

.btn-porto {
    background: #eadbb9;
    border-radius: 6px;
    margin-left: 200px;
    margin-right: 200px;
}

.btn-porto a {
    display: block;
    text-align: center;
    color: black;
    padding: 10px;
}

footer {
    background-color: #eadbb9;
    border-radius: 10px;
    font-family: system-ui;
    margin-top: 25px;
}

.footer-warp {
    text-align: center;
    color: black;
}

.btn-link li {
    margin-top: 20px;
}

.btn-link a {
    padding: 10px;
    border-radius: 6px;
}

.btn:hover {
    background-color: #eadbb9;
    opacity: 1;
    color: black;
}

.btn {
    border-radius: 4px;
}