/* PROFILE CLASS */
.profile {
  align-items: center;
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.profile-desc {
  flex-grow: 1;
}

.profile-desc h2 {
  margin: unset;
}

.profile-pic {
  box-sizing: border-box;
  width: 90px;
  height: 90px;
  border: 2px solid #91887c;
  border-radius: 100px;
}

/* WORK CLASS */
.work {
  margin-top: 16px;
}

.work p {
  text-align: justify;
  line-height: 1.5;
  text-indent: 1em;
}

.btn-porto {
  display: flex;
  margin-top: 16px;
}

.btn-porto a {
  background: #3f7d8b;
  border-radius: 8px;
  color: #e9e9e9;
  display: block;
  margin: 0 auto;
  opacity: 0.9;
  padding: 12px;
  text-align: center;
}

.btn-porto a:hover {
  background-color: #20788c;
  opacity: 1;
}

/* BIO CLASS */
.bio {
  margin-top: 16px;
}

.bio-history {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 16px;
}

.bio-history-item {
  display: flex;
  gap: 16px;
}

.bio-history-item span {
  font-weight: bold;
}

/* LINKTREE CLASS */
.linktree {
  margin-top: 16px;
}

.btn-link {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 16px;
}

.btn-link a {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  color: #047a95;
  text-decoration: none;
}

.btn-link a:hover {
  text-decoration: underline;
}

/* REUSE CLASS */
.text-underline {
  text-decoration: underline;
  text-decoration-thickness: 4px;
}

.icon-small {
  font-size: 14px;
}

.icon-large {
  font-size: 20px;
}

.icon-red {
  color: red;
}

/* RESET STYLE */
body {
  background-color: #f2e2ce;
  color: black;
  font-family: Helvetica;
  margin: unset;
}

header {
  background-color: #dacbb9;
  padding: 16px;
  border-radius: 8px;
}

header p {
  text-align: center;
  color: #000;
}

footer {
  background-color: #dacbb9;
  border-radius: 8px;
  font-family: system-ui;
  margin-top: 16px;
  padding: 4px;
}

footer p {
  text-align: center;
  color: black;
}

a {
  text-decoration: unset;
}

h2 {
  margin: 0 0 16px 0;
}

h3 {
  margin: 0 0 16px 0;
}

li {
  list-style: none;
}

p {
  margin: unset;
}

ul {
  list-style-type: none;
  margin: unset;
  padding-left: 16px;
}
