body {
    position: absolute;
    width: 768px;
    left: calc(50% - 768px/2);
    top: -10.5px;
}

.bg-main {
    background-color: #5b4a2f;
    color: aliceblue;
}

.container {
    position: absolute;
    width: 533.91px;
    left: calc(50% - 533.91px/2);
    top: 376px;
}